.container{
    max-width: 60vw;    
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.player-info-main{
    background-color: lightblue;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    font-size: 1rem;
}

.flex-center{
    display: flex;
    justify-content: space-around;
}


.flex-center > div{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 1rem;
}

.game-display{
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 5rem;
    
}

.stick-button{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 40%;
}

.stick-button > div{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

